Source: mimic
Section: misc
Priority: extra
Maintainer: Mycroft Devs <devops@mycroft.ai>
Uploaders: Ethan Ward <ethan.ward@mycroft.ai>
Build-Depends: debhelper (>= 10),
               pkg-config,
               automake,
               libtool,
               libicu-dev,
               libasound2-dev
Standards-Version: 4.0.0
Homepage: https://www.github.com/MycroftAI/mimic

Package: mimic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast, lightweight text-to-speech engine
 Fast, lightweight Text-to-speech engine developed by Mycroft A.I.
 and VocaliD, based on Carnegie Mellon University’s FLITE software.
 Mimic takes in text and reads it out loud to create a high quality voice.
 Mimic's low-latency, small resource footprint, and good quality voices set
 it apart from other open source text-to-speech projects.
